<!-- NAVIGATION (Nur wenn eingeloggt) -->
<header *ngIf="auth.isLoggedIn()">
  <h1>🎧 Spotifake</h1>
  <nav>
    <a routerLink="/songs">Bibliothek</a> |
    <a routerLink="/admin">Verwaltung</a>
  </nav>
  <div class="user-info">
    <span>Hallo, <b>{{ auth.currentUser()?.username }}</b>!</span>
    <button (click)="auth.logout()" style="margin-left: 20px; padding: 5px 15px;">Logout</button>
  </div>
</header>

<!-- BENACHRICHTIGUNGEN -->
<div *ngIf="socketService.lastEvent()" class="toast-notification">
  {{ socketService.lastEvent() }}
</div>

<!-- HAUPTINHALT (ROUTING) -->
<main [class.login-mode]="!auth.isLoggedIn()">
  <router-outlet></router-outlet>
</main>

<!-- PLAYER (Nur wenn eingeloggt) -->
<app-player *ngIf="auth.isLoggedIn()"></app-player>
